# Python Beginner Tutorials

#### Preparing this introductionary documeny, we benefited largely from [holypython](https://holypython.com/)

<img src="python.jpg">

![divider](divider.png)
### Print Function

__print()__ is used to display information to the user or programmer. 
It doesn’t change or affect values, variables, functions in any way 
and simply displays what you tell it to display.

It can be very useful for the programmer to check certain values, 
make reminders or show messages to the user at different stages of the coding process.

In [1]:
print("Hello, World!")

Hello, World!

As you can see, text in print function needs to be in quotes. 
Whenever you are printing a piece of text, this is the syntax you need to follow.

If you are printing a variable, then you can’t use quotes 
and you need to type the variable name only.

In [2]:
my_message = "How about this?"
print(my_message)

How about this?

#### Some use cases:

In [3]:
print("Hello" , "My name is" , "Good Boy")
print("Model S" , "Model 3" , sep="--")
print("100" , "200" , end="|")

Hello My name is Good Boy
Model S--Model 3
100 200|

![divider](divider.png)
### Python as a Calculator

By using simple characters, we can use [Python as a calculator](https://docs.python.org/3/tutorial/introduction.html):

In [4]:
print(2 + 2)
print(50 - 5*6)
print((50 - 5*6) / 4) # division always returns a floating point number
print(17 / 3)         # classic division returns a float
print(17 // 3)        # floor division discards the fractional part
print(17 % 3)         # the % operator returns the remainder of the division
print(5 * 3 + 2)      # result * divisor + remainder
print(5 ** 2)         # 5 squared
print(2 ** 7)         # 2 to the power of 7

4
20
5.0
5.666666666666667
5
2
17
25
128

![divider](divider.png)
### Variables
Two reasons to use variables: <br>
* Data is too long <br>
* You need to refer to your data multiple times


To assign a value: variable is located on the left of the equation and data on the right of it.

You can start a variable name with a letter or underscore (_), but not with a number

You can’t use symbols (except underscore) or blanks in a variable name.

In [5]:
USD_TL = 6.85
EUR_TL = 7.93
USD_balance = 2500
EUR_balance = 4400

We can calculate the Turkish Liras equivalent of EUR and USD accounts:

In [6]:
TL_total = USD_TL * USD_balance + EUR_TL * EUR_balance
print(TL_total)

52017.0

Let's do one with strings:

In [7]:
dogsName = "John"
dogsKind = "English Terrier"

print("His name is" , dogsName , ".He is a" , dogsKind, ".")

His name is John .He is a English Terrier .

There are some main practices in naming variables with multiple terms.

__camelCase__, capitalizing all words except the first one and removing the space:

In [8]:
dogsName = "John"

__PascalCase__, capitalizing all words and removing the space:

In [9]:
DogsName = "John"

__snake_case__, replacing each space with an underscore:

In [10]:
dogs_name = "John"

You can assign multiple variables in one line. <br>But it is not a common practice

In [11]:
i, j, k = "Hello", 55, 21.0765
print(i, j, k)

Hello 55 21.0765

![divider](divider.png)
### Data Types and Type Conversions
Python has built-in types, these types are called scalars and meant to handle
with single value types:

* numerical data
* strings
* boolean(True,False)
* date and time

We will cover _numerical data_ and _strings_ in the chapter.

int : this type of data consists of numbers and particularly integers.

In [12]:
horse_power = 330

float : this type of data refers to numbers with decimals

In [13]:
milage_per_gallon = 20.75

str : standing for string, an str type of variable keeps data as a text string.

In [14]:
model_year = "Ford Mustang Convertible 68"

In python, you don't need to define the variable type beforehand, you just assign it

In [15]:
price = 38995

The variable will be assigned to best-fit type. We can check the type of variable:

In [16]:
print(type(price))

<class 'int'>

You see that price variable could also be expressed as a float type, and even as string.<br>
We can change type of a variable to some extent.

You can convert int to float, and float to int (may cause information loss) <br>
You can convert int or float types into str type as str can have any letter, number or symbols in them. <br>
You can’t convert a string consisting of letters into integer or float type.

We use _int()_, _float()_, _str()_ functions to convert variables to corresponding types

In [17]:
transmission = 6
print(type(transmission))
print(transmission)

transmission = float(transmission)
print(type(transmission))
print(transmission)

<class 'int'>
6
<class 'float'>
6.0

 Converting transmission to float is not a good idea, as there cannot be 5.7 speed tranmission

In [18]:
print(type(milage_per_gallon))
print(milage_per_gallon)

milage_per_gallon = int(milage_per_gallon)
print(type(milage_per_gallon))
print(milage_per_gallon)

<class 'float'>
20.75
<class 'int'>
20

 Converting the milage_per_gallon to integer is not a good idea either, as we lose information

In [19]:
print(type(price))
print(price)

price = str(price)
print(type(price))
print(price)

try:
    tax = price * .15
except TypeError:
    print("Cannot do calculation with string variable")

<class 'int'>
38995
<class 'str'>
38995
Cannot do calculation with string variable

That is also a bad idea, now we cannot make calculations on price variable

![divider](divider.png)
### Data Structures

You can create a list, tuple or dictionary by assigning simple symbols:

list : [] <br>
tuple : () <br>
dictionary : {} 

__Lists:__ Contains values. It can be pretty much anything, numbers, strings, names, features etc.

__Tuples:__ Tuples resemble lists very much however there is a catch. Once you create a tuple, unlike a list, you can’t change its values. In Python, fancy name for this is “mutability“.

__Dictionaries:__ Dictionaries are key-value pairs. So a dictionary consists of two parts: keys and values. Unlike tuples and like lists, dictionaries are mutable, meaning their values can be changed, replaced and removed. 

You can also use list(), tuple(), and dict() functions to create list and dictionaries.

In [20]:
my_list = []
print(my_list)
print(type(my_list))

[]
<class 'list'>

In [21]:
my_list = list()
print(my_list)
print(type(my_list))

[]
<class 'list'>

In [22]:
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [23]:
my_dict = dict()
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [24]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [25]:
my_tuple = tuple()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [26]:
shopping_list = ["Orange", "Bread", "Meat", "Milk"]
print(shopping_list)
print(type(shopping_list))

['Orange', 'Bread', 'Meat', 'Milk']
<class 'list'>

In [27]:
shopping_dict = {"Orange": 1, "Bread": 2, "Meat": 1.5, "Milk": 3}
print(shopping_dict)
print(type(shopping_dict))

{'Orange': 1, 'Bread': 2, 'Meat': 1.5, 'Milk': 3}
<class 'dict'>

In [28]:
multi_list = ["Apple", False, 666, 25.25]
print(multi_list)
print(type(multi_list))

['Apple', False, 666, 25.25]
<class 'list'>

In [29]:
multi_tuple = ("Apple", False, 666, 25.25)
print(multi_tuple)
print(type(multi_tuple))

('Apple', False, 666, 25.25)
<class 'tuple'>

![divider](divider.png)
### Lists

__Composite Nature:__ List is a very useful composite data structure meaning it can hold multiple types of data. You can also call it a data sequence. <br> 
__Index:__ Unlike dictionaries lists have an index order. This means every element inside a list has an index and this doesn’t change unless you change it. It’s important to note that indexing for lists starts with 0 (zero). <br>
__Mutability:__ Lists are also mutable and this means you can add and remove their elements as you wish. 

| Function / Method | Explanation |
| --       | --          |
| .append()| used for adding elements to a list
| .insert()| used for inserting element to a particular index of the list
|.index()  |used to show the index of an element
|.clear()  |clears all the elements of the list
|.remove() |used for removing an element of the list
|.reverse()|reverses the order inside the list
|.count()  | used for counting how many elements there are in the list
|sum()     | sums all the elements in the list
|min()     |shows the element with lowest value in the list
|max()     |shows the element with highest value in the list

In [30]:
shopping_list[0]

'Orange'

In [31]:
shopping_list[2]

'Meat'

In [32]:
print(multi_list[1])

False

In [33]:
# Reverse Indexing
shopping_list[-2]

'Meat'

In [34]:
# .append()
shopping_list.append("Pasta")
print(shopping_list)

['Orange', 'Bread', 'Meat', 'Milk', 'Pasta']

In [35]:
# .insert()
shopping_list.insert(0, "Water")
print(shopping_list)

['Water', 'Orange', 'Bread', 'Meat', 'Milk', 'Pasta']

In [36]:
# .index()
shopping_list.index("Pasta")

5

In [37]:
# .remove()
shopping_list.remove("Pasta")
print(shopping_list)

['Water', 'Orange', 'Bread', 'Meat', 'Milk']

In [38]:
# .reverse()
shopping_list.reverse()
print(shopping_list)

['Milk', 'Meat', 'Bread', 'Orange', 'Water']

In [39]:
# .count()
numbers_list = [1,3,6,1,8,2,7,2,11,8,13]
print(numbers_list.count(1))

2

In [40]:
# .sum()
sum(numbers_list)

62

In [41]:
# .min()
min(numbers_list)

1

In [42]:
# .max()
max(numbers_list)

13

![divider](divider.png)
### Tuples

Tuples are very similar to lists except a main difference: mutability. Tuples are immutable meaning they can not be changed unlike lists.

In [43]:
my_tuple = ("Oslo", "Stockholm", 44, True)
print(my_tuple)

('Oslo', 'Stockholm', 44, True)

In [44]:
# Indexing
print(my_tuple[3])

True

In [45]:
# Reverse Indexing
print(my_tuple[-1])

True

In [46]:
# .index()
print(my_tuple.index("Oslo"))

0

In [47]:
# .count()
numbers_tuple = (1,3,6,1,8,2,7,2,11,8,13)
numbers_tuple.count(1)

2

In [48]:
# sum()
sum(numbers_tuple)

62

In [49]:
# .min()
min(numbers_tuple)

1

In [50]:
# .max()
max(numbers_tuple)

13

![divider](divider.png)
### Dictionaries

__Structure:__ A dictionary consists of key-value pairs that are separated from other key-value pairs by commas. Inside the key-value pair, key and value is separated by a colon (:). First few examples below will clearly demonstrate this.<br>
__Composite Nature:__ List is a very useful composite data structure meaning it can hold multiple types of data. You can also call it a data sequence.<br>
__No order:__ Unlike lists and tuples there is no order or indexing inside a dictionary. You can think of key-value pairs inside a dictionary as if they are mixed in a bag. <br>

| Function / Method | Explanation |
| --       | --          |
|.keys()   | used to show the keys in a dictionary
|.items()  | used to create a key-value tuple
|.get()    | used to return the value of a key
|.clear()  | clears the entire dictionary
|.copy()   | used to copy a dictionary
| len()    | used to get the length of a dictionary
| min()    | used to identify the key with the highest value
| max()    | used to identify the key with the lowest value

In [51]:
ages_dict = {"Tom": 32, "Jess": 29, "Pete": 18}
print(ages_dict)

{'Tom': 32, 'Jess': 29, 'Pete': 18}

In [52]:
# .keys()
print(ages_dict.keys())

dict_keys(['Tom', 'Jess', 'Pete'])

In [53]:
# .items()
print(ages_dict.items())

dict_items([('Tom', 32), ('Jess', 29), ('Pete', 18)])

In [54]:
# .get()
print(ages_dict.get("Tom"))

32

In [55]:
# .copy()
copy_dict = ages_dict.copy()
print(copy_dict)

{'Tom': 32, 'Jess': 29, 'Pete': 18}

In [56]:
# len()
len(copy_dict)

3

In [57]:
# min()
ages_dict_reverse = {32:"Tom", 29:"Jess",18:"Pete"}
min(ages_dict_reverse)

18

In [58]:
# min()
max(ages_dict_reverse)

32

![divider](divider.png)
### Strings

Strings are everywhere:

- web crawling
- email data 
- financial reports 
- social media 
- books
- documents
- user input
- sales reports
- economic reports

To cope with such ubiquitous and special type of data, one needs specials skills and a comprehensive toolkit:

| Function / Method | Explanation |
|          --       | --          |
|.replace()| used to change substrings in a string
|.lower()| used to change a string’s characters to lower characters
|.upper()| used to change a string’s characters to capital letters
|.capitalize()| used to convert first character of the string to |capital letter.
|.startswith()| used to check if the string starts with a specified |letter
|.endswith()| used to check if the string ends with a specified letter
|.join()| a very useful string method used to join a specified string |to the string
|.split()| another very useful method used to split a string based on the specified character(s)
|.strip()| used to strip a string of specified characters including empty spaces
|.index()| used to identify a character’s index in a string
|.find()| also used to find a character’s index in a string. find and index are very similar with a small difference which we will explain.
|.count()| used to count a sub-string in a string
|type()| function used to identify type of the data, can be used on strings.

In [59]:
# Indexing
msg = "A giant leap for mankind"
print(msg[0])

A

In [60]:
# .replace()
msg = msg.replace(" ", "+")
print(msg)

A+giant+leap+for+mankind

In [61]:
# .replace()
msg = "A giant leap for mankind"
msg = msg.replace("leap", "step")
print(msg)

A giant step for mankind

In [62]:
# .lower()
msg.lower()

'a giant step for mankind'

In [63]:
# .upper()
msg.upper()

'A GIANT STEP FOR MANKIND'

In [64]:
# .capitalize()
msg = "a giant leap for mankind"
msg.capitalize()

'A giant leap for mankind'

In [65]:
# .startswith()
msg = "a giant leap for mankind"
msg.startswith("A")

False

In [66]:
# .startswith()
msg = "A giant leap for mankind"
msg.startswith("A")

True

In [67]:
"a giant leap for mankind".capitalize().startswith("A")

True

In [68]:
# .endswith()
"a giant leap for mankind".endswith("d")

True

In [69]:
# .index()
"a giant leap for mankind".index("a")

0

In [70]:
# find()
msg = "a giant leap for mankind"
msg.find("d")

23

In [71]:
# find() | If not found, returns -1
msg = "a giant leap for mankind"
msg.find("X")

-1

In [72]:
# count()
msg = "a giant leap for mankind"
msg.count("a")

4

In [73]:
# count()
msg = "a giant leap for mankind"
msg.count("X")

0

In [74]:
# type
type("a giant leap for mankind")

str

In [75]:
# len()
len("a giant leap for mankind")

24

In [76]:
# .split()
"a giant leap for mankind".split()

['a', 'giant', 'leap', 'for', 'mankind']

In [77]:
# .strip()
msg = "      a giant leap for mankind              "
msg.strip()

'a giant leap for mankind'

In [78]:
# .join() 
strings_list = ["a", "giant", "leap", "for", "mankind"]
msg = " | ".join(strings_list)
print(msg)

a | giant | leap | for | mankind

![divider](divider.png)
### Functions and Methods

#### len() function

* tells the length of a string
* and lists, tuples
* and dictionaries

In [79]:
numbers_list = [3, 33, 100, 1000, 5]
len(numbers_list)

5

In [80]:
message = "Hello World!"
len(message)

12

In [81]:
tuple = ("4k", "1080p", "720p")
len(tuple)

3

In [82]:
dict = {"rainy": 95, "sunny": 270}
len(dict)

2

#### .sort() method

It works on the lists

In [83]:
numbers_list = [3, 33, 100, 1000, 5]
numbers_list.sort()
print(numbers_list)

[3, 5, 33, 100, 1000]

In [84]:
animals_list = ["goose", "porcupine", "ground hog"]
animals_list.sort()
print(animals_list)

['goose', 'ground hog', 'porcupine']

In [85]:
country_list = ["Germany", "France", "Albania", "Serbia"]
country_list.sort(reverse = True)
print(country_list)

['Serbia', 'Germany', 'France', 'Albania']

#### .pop() method

It works on the lists and dictionaries, removes last element and returns the removed element.

In [86]:
country_list = ["Germany", "France", "Albania", "Serbia"]
removed_element = country_list.pop()
print(removed_element)
print(country_list)

Serbia
['Germany', 'France', 'Albania']

In [87]:
# poping by index
country_list = ["Germany", "France", "Albania", "Serbia"]
removed_element = country_list.pop(1)
print(removed_element)
print(country_list)

France
['Germany', 'Albania', 'Serbia']

In [88]:
# on dictionaries:
ages_dict = {"Tom": 32, "Jess": 29, "Pete": 18}
removed_element = ages_dict.pop("Jess")
print(ages_dict, "removed: ", removed_element)

{'Tom': 32, 'Pete': 18} removed:  29

#### input() function

It takes user input into the program.

In [89]:
name = input("Please enter your name.")

Please enter your name.Emre

In [90]:
job = input("What is your job?")

What is your job?Data Scientist

In [91]:
print("Welcome", name, "the", job)

Welcome Emre the Data Scientist

#### range() function

Range is a function to create a range of numerics. <br>
It has 3 parameters: __range(start, stop, step)__

In [92]:
list(range(5))

[0, 1, 2, 3, 4]

In [93]:
list(range(0,5,2))

[0, 2, 4]

In [94]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [95]:
list(range(10,-10,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [96]:
list(range(10,-10,-3))

[10, 7, 4, 1, -2, -5, -8]

![divider](divider.png)
### Error Handling

The most common errors Pythons may throw:

* NameError
* SyntaxError
* TypeError
* IndexError
* KeyError
* AttributeError / ValueError

__NameError__<br>
You’ll get a NameError when an object can’t be found in Python.

In [97]:
message = "Hello World!"
print(hello_world)

NameError: name 'hello_world' is not defined

__SyntaxError__<br>
You’ll get a SyntaxError when you make a syntax error in Python.<br> It can be a missing quote or parenthesis.

In [ ]:
message = "Hello World!
print(hello_world)

__TypeError__<br>
You’ll get a TypeError when you apply an operation or function to the wrong type of data, such as applying arithmetic operations to strings.

In [ ]:
message = "Hello World!"
print(message + 5)

__IndexError__<br>
You’ll get an IndexError when you try to reach an index outside the limits of your data.

In [ ]:
message = "Hello World!"
print(message[25])

__KeyError__<br>
KeyError is like IndexError for dictionaries. If you try to reach a key that’s not included in your dictionary, you’ll get a KeyError

In [ ]:
fruit_dict = {"Apple": 5, "Mango": 7}
print (fruit_dict["Lemon"])

__AttributeError__<br>
Attribute error occurs when you try to use an attribute or method that doesn’t apply to the specific data you’re working on. <br>For instance, trying to apply .reverse() method on a string.

In [ ]:
numeric_data = 11.79011
numeric_data.capitalize()

__ValueError__<br>
Value error occurs when you apply a function to a data type correctly but the content is not suitable for that operation.

For example, you can apply int() to a string of numbers such as: 
int(“2000”) <br>
but you can’t convert letters to integers so following won’t work: int(“two thousand”)

In [ ]:
door_number = "11A"
int(door_number)

![divider](divider.png)
### Defining Functions

So far we covered some python functions, which come very handy. <br>
Yet, we may need custom made functions for our custom problems. In that case we need to write functions in Python.

Functions in python is defined by ___def___ <br>
Then the name of the functions follows: ___def my_function___<br>
Third, a paranthesis is added for the any possible function parameters:___def my_function()___ <br>
A colon (:) is added to start the function body: ___def my_function():___ <br>
The function body is added: <br> 
___def hello_world(): <br>
$\;\;\;\;\;\;$ print(“Hello World!”)___

In [ ]:
def hello_world():
    print("Hello World!")

hello_world()

In [ ]:
def greeter():
    name = input("Please enter your name.")
    job = input("What is your job?")
    print("Welcome", name, "the", job)
    
greeter()

Now let's do an example with parameter

In [ ]:
def divide_by_100(x):
    print(x / 100)
    
divide_by_100(2000)
divide_by_100(100000)

Now let's do an example with parameter with a default value

In [ ]:
def cool_language(x = "Python"):
    print(x, "is a cool language")
    
cool_language()
cool_language("R")
cool_language("C")

All our functions so far had printed output. <br>
What if we just want them to return a value. <br>
We do that by _return_ statement:

In [ ]:
def divide_by_100(x):
    return x / 100
    
my_answer = divide_by_100(2000)
print(my_answer)

![divider](divider.png)

### Slicing

_Slicing_ is very similar to the concept of _indexing_, which we already covered. <br>
You may think of it as a more complex form of indexing.

Let us say we have the list of number_list = [1,2,3,4,5] <br>
we already know __number_list[0]__ will give us __1__ <br>
By slicing the list as __number_list[0:3]__, we can get __[1,2,3]__

In [ ]:
number_list = [1,2,3,4,5]
print(number_list[0])
print(number_list[0:3])

As indexing applies to strings too, so the slicing does:

In [ ]:
message = "Good bye cruel world"
print(message[0])
print(message[0:4])

The syntax of slicing is similar to _range()_ function's: [start:end:step] <br>
We try some combinations and see:

In [ ]:
number_list = list(range(30,100,10))
print(number_list)
print(number_list[2:6])

In [ ]:
number_list =  list(range(10))
print(number_list)               #list itself
print(number_list[2:6:2])        #list from 2nd index to the 6h by steps of 2
print(number_list[0:8:3])        #index 0 to 8 by steps of 3
print(number_list[:-2])          #everything up to the last two elements
print(number_list[:-2:2])        #everything up to the last two elements by steps of 2
print(number_list[::4])          #everything start to finish with steps of 4
print(number_list[::-1])         #reversing the list

![divider](divider.png)

### Python Operators

Very important and loaded final section of the tutorial, brace yourselves :)

In [ ]:
# Assignment operators: 
x = 5
y = "five"
z = True

print(x,y,z)

In [ ]:
# Arithmetic operators:

print(5 + 5)
print(22 * 12)
print(13 % 2)
print(17 / 4)
print(17 // 4)

In [ ]:
# Relational operators:
# Backbone of if statements

x = 5
print(x == 6)
print(4 < x)
print(x > 13)
print(x != 113)

In [ ]:
# Membership operators:
# Also used in if statements:

number_list = list(range(10))
print(0 in number_list)
print(9 in number_list)
print(10 in number_list)

print()

message = "Hello World!"
print("Hello" in message)
print("!" in message)
print("farewell" in message)

In [ ]:
# Logical Operators
print(True and True)
print(True or True)
print(False and False)
print(False or False)
print(True or False)
print(True and False)
print(not True)

In [ ]:
# Logical Operators
x = 5

print(x == 6 and 4 < x)
print(4 < x or x != 113)
print(not 4 < x)

![divider](divider.png)
### End of Tutorial
### Thanks for following